.modalContainer {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 999;
  padding: 40px 20px 20px;
  .modal {
    @apply bg-white rounded px-4 py-2 md:px-6 md:py-4;
    box-shadow: 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024,
      0 9px 46px 8px #0000001f;

    .headerContainer {
      @apply flex justify-between mb-4 md:mb-4 items-center;
      .heading {
        @apply text-xl md:text-2xl font-bold mr-4 md:mr-8;
      }
      .closeBtn {
        position: relative;

        width: 24px;
        height: 24px;
        opacity: 0.3;
        transition: opacity 0.3s ease;
      }
      .closeBtn:hover {
        opacity: 1;
      }
      .closeBtn:before,
      .closeBtn:after {
        top: 0;
        position: absolute;
        content: "";
        height: 25px;
        width: 2px;
        background-color: #333;
      }
      .closeBtn:before {
        transform: rotate(45deg);
      }
      .closeBtn:after {
        transform: rotate(-45deg);
      }
    }
  }
}
